<odoo>
    <data>
        <record model="ir.actions.act_window" id="action_report_balance">
            <field name="name">Report Balance</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">vit_report_balance.vit_report_balance</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    Click to add an Report
                </p>
                <p>
                    Tambah Report
                </p>
            </field>
        </record>
        <menuitem id="vit_report_balance" name="report_balance" sequence="40" action="action_report_balance"/>
    </data>
</odoo>